@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
	/* (Dark Mode Elements) */
	--dark-blue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--very-dark-blue: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	--very-dark-blue-text: hsl(200, 15%, 8%);
	/* (Light Mode Input) */
	--dark-gray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--very-light-gray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--white: hsl(0, 0%, 100%);
}

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--very-light-gray);
}
.dark-mode{
	background-color: var(--very-dark-blue);
	color: var(--white);
	transition: background-color .275s ease, color .3s ease;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
